.filter_btn {
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;
  text-align: center;
  padding: 0.6rem;
  width: 100px;
  color: var(--background-color);
  border-radius: 5px;
  border: 1px solid var(--background-color);
}

.filter_btn:hover {
  background-color: var(--background-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.filter_dropdown {
  position: absolute;
  right: 0;
  top: 45px;
  width: 200px;
  height: 100px;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
  border-radius: 10px;
}

#status {
  padding: 0.5rem;
  font-size: 0.9rem;
}

.filters_action {
  display: flex;
  justify-content: flex-end;
}

.filters_action > button {
  padding: 0.5rem 1rem;
  margin-left: 0.1rem;
  border-radius: 5px;
  color: var(--primary-color);
  font-weight: 600;
  font-size: 0.9rem;
  border: 0;
  cursor: pointer;
}

.close_btn {
  background-color: var(--danger-color);
}

.apply_btn {
  background-color: var(--success-color);
}
